<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name.capitalize %> congratulations on registering for Progress</h1>

    <p>
    You're username is: <%= @user.email %>
    </p>

    <%= link_to 'Progress', root_url %>
  </body>
</html>