<% @user = User.new %>
<div class="progress-welcome">
  <h2 class="welcome">Progress</h2> 
  <ul class="steps">
    <li class="big-line">&nbsp;</li>
    <li class="big-line">&nbsp;</li>
    <li class="step1">Achieve your goals</li>
    <li class="big-line">&nbsp;</li>
    <li class="big-line">&nbsp;</li>
    <li class="step2">One step at a time.</li>
    <li class="big-line">&nbsp;</li>
    <li class="big-line">&nbsp;</li>
    <li class="step3">Prove each step.</li>
    <li class="big-line">&nbsp;</li>
    <li class="big-line">&nbsp;</li>
  </ul> 
</div>

<div class="homepage-buttons large-3 large-centered columns">
  <fieldset>
  <% if current_user %>
    <%= link_to "Add New Goal", new_goal_path, class: "large button expand success" %>
  <% else %>
    <a href="#" data-reveal-id="signup-modal" class="success button expand">Sign Up</a>
    <a href="#" data-reveal-id="login-modal" class="button expand">Log In</a>
  <% end %>
  </fieldset>
</div>

<div id="login-modal" class="reveal-modal xlarge">
  <%= render "layouts/login_modal" %>  
</div>

<div id="signup-modal" class="reveal-modal small">
  <%= render "layouts/user_simpleform" %>
</div>


