
<div class="progress-welcome">
  <h2 class="welcome">Progress</h2> 
  <ul class="steps">
    <li class="big-line">&nbsp;</li>
    <li class="step1">Achieve your goals</li>
    <li class="big-line">&nbsp;</li>
    <li class="step2">One step at a time.</li>
    <li class="big-line">&nbsp;</li>
    <li class="step3">Prove each step.</li>
    <li class="big-line">&nbsp;</li>
  </ul> 
</div>

<div class="homepage-buttons large-4 small-12 large-centered small-centered columns">
  <fieldset>
  <% if current_user %>
    <a href="#" data-reveal-id="newgoal-modal" class="large success button expand">Add New Goal</a>
  <% else %>
    <a href="#" data-reveal-id="signup-modal" class="large success button expand">Sign Up</a>
    <a href="#" data-reveal-id="login-modal" class="large button expand">Log In</a>
  <% end %>
  </fieldset>
</div>

<%= render "layouts/login_modal" %>

  
