<div class="welcome" style="background-color: white; width: 100%; margin-top: -10px; padding: 50px;">
      <h1 style="margin-left: 10%; padding: 15px; background-color: lightGreen; color: black; width: 30%; max-width: 50% text-shadow: 2px 2px white;">Progress</h1>
      <h4 style="margin-left: 10%; padding: 10px; width: 30%; color: black;
      background-color: tomato;">
        The proof is in the progress.
      </h4>

      <h5 style="margin-left: 17%; padding-top: 20px;">
        > Achieve your big goals
      </h5>
      <h5 style="margin-left: 17%; padding: 0;">
        > Break goals down into smaller steps.
      </h5>
      <h5 style="margin-left: 17%; padding: 0;">
        > Complete steps with proofs. 
      </h5>
      <h5 style="margin-left: 17%; padding: 0;">
        > Be self-accountable.

      </h5>
      <h5 style="margin-left: 17%; padding: 0;">
         > Stay self-motivated. 
      </h5>

 </div>


<a href="#" data-reveal-id="myModal" class="radius button">Create Account</a>




<div id="myModal" class="reveal-modal">
  <h2>Log In</h2>
  <%= simple_form_ %>
</div>