<h1>Goals#index</h1>


<% @goals.each do |goal| %>
  <p>
     <%= (goal.verb).capitalize %>: <%= link_to (goal.title).capitalize, goal_path(goal.id) %> by: <%= goal.completion_date %>
  </p>
 

<% end %>