<% cache do %>
  <%= render "layouts/goal_show" %>
<% end %>

<% @micro_goal = MicroGoal.new %>
<% @proof = Proof.new %>

<div id="add-microgoal" class="reveal-modal small">
  <%= render "layouts/microgoal_simpleform" %>
</div>















