@import "variables";


// font-family: 'Montserrat', sans-serif;
// font-family: 'Arapey', serif;
// font-family: 'Open Sans', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

// Flash messages
.alert-box {
  opacity: 0.9;
  text-shadow: 1px 1px 2px black;
  margin-bottom: -5px;
}


/// WELCOME


h2.welcome {
  font-family: "Helvetica", "Montserrat", sans-serif;
  font-size: 300%;
  padding: 50px 50px 20px 50px;
  margin-top: -10px;
  margin-bottom: 35px;
  color: white;
  background-color: black;
  text-align: center;
  opacity: 0.9;
  box-shadow: 0 10px 0px #323232;
  transition: 0.14s;
}

div#button-new-goal {
  margin-bottom: -25px;
  width: 50%;
  margin-left: 25%; 
  a.button.add-new-goal1 {
    width: 70%;
    transition: 0.1s;
    border: 20px solid #81d681;
    &:hover {
      border: 10px solid white;
      box-shadow: 0px 5px 0px #ff3232;
      transition: 0.1s;
      text-shadow: 0px 2px 5px black;
    }
  }
}

ul.steps {
  text-align: center;
  font-size: 100%;
  

  li.line {
    width: 0.3%;
    margin-left: 49.7%;
    height: 2em; 
    background-color: gray;
  }

  li.step1 {
    background-color: salmon; 
    width: 10%;
    margin-left: 45%;
    padding: 10px;
    transition: 0.14s;
    box-shadow: 0px 10px 0px #e17366;
    margin-bottom: 10px;
    &:hover {
      border: 5px solid white;
      box-shadow: 0px 5px 0px #ff3232;
      transition: 0.1s;
      opacity: 1;
      margin-bottom: 5px;
    }
  }
  li.step2 {
    background-color: orange; 
    width: 10%;
    margin-left: 45%;
    padding: 10px;
    box-shadow: 0px 10px 0px #e59400;
    margin-bottom: 10px;
    &:hover {
      border: 5px solid white;
      box-shadow: 0px 5px 0px #ff3232;
      transition: 0.1s;
      opacity: 1;
      margin-bottom: 5px;
    }
  }
  li.step3 {
    background-color: turquoise;
    width: 10%;
    margin-left: 45%;
    padding: 10px;
    opacity: 0.9;
    box-shadow: 0px 10px 0px #39c9bb;
    margin-bottom: 10px;
    border: none;
    transition: 0.1s;
    &:hover {
      border: 5px solid white;
      box-shadow: 0px 5px 0px #ff3232;
      transition: 0.1s;
      opacity: 1;
      margin-bottom: 5px;
    }
  }
}

div.homepage-buttons {
  margin-top: -20px;
  background-color: #c7f6c7;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: -5px;
}

//// FORMS

fieldset.user-info {
  width: 100%;
}

fieldset.user {
  width: 100%;
  div.input {
    width: 100%;
  }
}

fieldset.dob-profile {
  width: 100%;
  div.user_date_of_birth {
    float: left;
    width: 45%;
  }
  div.profile-pic, div.create {
    float: right; 
    width: 45%;
  }
}


// Who are you? -------------------

.verb {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  width: 20%;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


/// NEW GOAL

label.verb {
  float: left;
}

// NAVBAR -------------------

nav.top-bar {
  background-color: #4c4c4c;
}

ul.title-area li.name a.title {
  color: black;
  background-color: $dream-orange;
  opacity: 0.7;
  transition: 0.1s;
  font-size: 20px;
  &:hover {
    opacity: 1;
    transition: 0.1s;
    background-color: $dream-orange;
    border-bottom: 8px solid tomato;
    color: white;
    text-shadow: 1px 1px 10px black;
  }
}

ul.left li a.new-goal {
  background-color: $dream-yellow;
  color: black;
  opacity: 0.95;
  transition: 0.1s;
  font-size: 15px;
  &:hover {
    opacity: 1;
    transition: 0.1s;
    background-color: $dream-yellow;
    border-bottom: 8px solid orange;
    color: black;
    font-size: 20px;
  }
}

ul.right li a {
  &.nav {
    background-color: $dream-blue;
    color: white;
    transition: 0.2s;
    &:hover {
      background-color: $dream-blue;
      transition: 0.2s;
    }
  }
  &.login {
    background-color: #2c9c91;
    opacity: 0.9;
    transition: 0.1s;
    &:hover {
      background-color: #33b3a6;
      transition: 0.1s;
      opacity: 1;
      border-bottom: 8px solid $dream-blue;
    }
  }
  &.signup {
    background-color: #e67b09;
    opacity: 0.9;
    transition: 0.1s;
    &:hover {
      background-color: #e88821;
      transition: 0.1s;
      opacity: 1;
      border-bottom: 8px solid $dream-yellow;
    }
  }
}




