@import "variables";


// font-family: 'Montserrat', sans-serif;
// font-family: 'Arapey', serif;
// font-family: 'Open Sans', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

// Flash messages
.alert-box {
  opacity: 0.9;
  text-shadow: 1px 1px 2px black;
  margin-bottom: -5px;
}


//// FORMS





