// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $blockquote-border: 1px solid #ddd;


.goal-container{
  width: 100%;
  text-align: center;
  background-color: #FFFCC4;
  padding: 10px;
}

h3, h4 {
  text-align: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  color: white;
  margin: 0;
}

.microgoal {
  border: 1px solid #ddd;
}

// NEW GOAL FORM

.goal-form-container {
  width: 75%;

}
