$linecolor: #808080;
$incomplete: #7C0B04;

// MicroGoal items

h1.goal, 
h2.goal {
  text-align: center;
}

.small-6 {
  &.left {
    border-right: 0.125em solid black;
    padding-right: 0.313em;
  }
  &.right {
    border-left: 0.125em solid black;
    padding-left: 0.313em;
  }
}

.microgoal-content {
  background-color: tomato;
  text-align: center;
  padding: 1em;
}

.blank > .microgoal-content {
  background-color: transparent;
  padding: 1em;
  visibility: hidden;
}
















