// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $blockquote-border: 1px solid #ddd;
$linecolor: #808080;
$incomplete: #7C0B04;

// MicroGoal items

h1.goal, 
h2.goal {
  text-align: center;
}

// li.microgoal {
//   width: 50%;
//   list-style-type: none;
//   margin-bottom: 5px;
//   &.complete {
//     background-color: lightGreen;
//     border-right: 4px solid black;
//   }
//   &.incomplete {
//     background-color: tomato;
//     margin-left: 50%;
//     border-left: 4px solid black;
//   }
// }


.microgoal {
  width: 50%;
  &.left {
    float: left;
    background-color: lightGreen;
    border-right: 2px solid black;
    &.blank {
      background-color: transparent;
      border-right: 2px solid black;
    }
  }
  &.right {
    float: right;
    background-color: tomato;
    border-left: 2px solid black;
    &.blank {
      background-color: transparent;
      border-left: 2px solid black;
    }
  }
}

