<li class="step-incomplete">
  <h6 class="title incomplete"><%= m.title.capitalize %></h6>
  <a href="#" data-reveal-id="add-proof" class="success done button tiny expand">Add Proof</a></div>
</li>
      <li class="step-date"><%= m.completion_date.strftime("%A, %b, %e, %Y") %>
        <br>
      </li> 

      <div id="add-proof" class="reveal-modal small" data-microgoal=<%= m.id %>>
        <%= render "layouts/proof_simpleform", :micro_goal => m %>
      </div>